﻿	<div class="jumbotron boxico reg section" id="AddList">
		<i class="fa fa-plus-square-o fa-2x"></i>
		<h4>{$page_display->Title}</h4>
		<p class="boxdesc">
        {$page_display->Content}
		</p>


	</div><!-- end id="AddList" -->
