{include file='users/user_navbar.tpl'}

<form method="post" action="" enctype="multipart/form-data">

<input value="{$user.ID}" name="id" type="hidden" />

<table id="predtable">



<tr><th class="th_rad" colspan="2">ارسال رسالة</th></tr>
{if $type eq 'all'}
<tr><td class="norm">الاهتمامات:</td><td class="altpoll">
{section name=op loop=$groups}
<input value="{$groups[op].ID}" name="fav[]" type="checkbox" size="40" />{$groups[op].Title}&nbsp;&nbsp;&nbsp;
{/section}

</td></tr>


<tr><td class="norm">نوعية الحساب :</td><td class="altpoll">
<input value="1" name="user_type[]" type="checkbox" size="40" />شركة ناشئة&nbsp;&nbsp;&nbsp;
<input value="2" name="user_type[]" type="checkbox" size="40" />مطور منفرد
</td></tr>

<tr><td class="norm">نوعية التسجيل:</td><td class="altpoll">
<input value="1" name="type_register[]" type="checkbox" size="40" />عضو يستخدم الحساب الخاص به&nbsp;&nbsp;&nbsp;
<input value="2" name="type_register[]" type="checkbox" size="40" />عضو عادى&nbsp;&nbsp;&nbsp;
<input value="2" name="type_register[]" type="checkbox" size="40" />شركه تريد رقم دعم فني خاص بها
</td></tr>

<tr><td class="norm">ارسال عن طريق:</td><td class="altpoll">
<input value="1" name="send_way" type="radio" size="40" />البريد الالكترونى&nbsp;&nbsp;&nbsp;
<input value="2" name="send_way" type="radio" size="40" />الواتساب&nbsp;&nbsp;&nbsp;
<input value="3" name="send_way" type="radio" size="40" />اس ام اس
</td></tr>
{/if}
<tr><td class="norm">محتوى الرسالة:</td>

<td class="altpoll"><textarea  name="content" rows="5" cols="40"></textarea></td></tr>


<tr><td class="retb_tab" colspan="2"><center>

	<input class="button" name="edit" type="submit" value="ارسال" />

	<input class="button" type="reset" value="استعادة التعديلات" /></center></td></tr>



</table>

</form>