<ul class="shortcut-buttons-set">

<li><a href="users.php" class="shortcut-button"><span>

	<img alt="icon" src="style/images/navbar/Profile.png" /><br />

	التحكم فى الاعضاء</span></a></li>

    	<li><a href="users.php?action=add" class="shortcut-button"><span>

	<img alt="icon" src="style/images/paper_content_pencil_48.png" /><br />

 اضافة عضو جديد</span></a></li>

 	<li><a href="users.php?action=messages" class="shortcut-button"><span>

	<img alt="icon" src="style/images/paper_content_pencil_48.png" /><br />

الرسائل المرسلة للاعضاء</span></a></li>

 	<li><a href="users.php?action=send_msg" class="shortcut-button"><span>

	<img alt="icon" src="style/images/paper_content_pencil_48.png" /><br />

ارسال رسالة </span></a></li>

	<li><a href="javascript:ShowHide_Test('searchform','searchforgroup','','','')" class="shortcut-button"><span>



	<img alt="icon" src="style/images/search.png" /><br />



	بحث عن عضو</span></a></li>

</ul>

<form method="get" action="users.php" style="display:none" id="searchform">

<input type="hidden" name="action" value="show" />

	<table class="searchformstyle">

		<tr>

			<td class="norm">اسم المستخدم:</td>

			<td class="altpoll"><input name="srch_name" type="text" size="30" /></td>

			<td class="norm">رقم المعرف:</td>

			<td class="altpoll"><input name="srch_id" type="text" size="30" /></td>

			</tr>

			<tr>

            	<td class="norm">البريد الالكتروني:</td>

			<td class="altpoll"><input name="srch_email" type="text" size="30" dir="ltr" /></td>


			<td class="norm">الاهتمامات:</td>

			<td class="altpoll"><select name="group_id" style="width: 210px">

			<option value="">اختر</option>

			{section name=op loop=$groups}

			<option value="{$groups[op].ID}">

			{$groups[op].Title}</option>

		{/section}

		</select></td>

			</tr>

		<tr>

			<td class="retb_tab" colspan="6"><center>

			<input class="button" name="filter" type="submit" value="بحــث وتنقيه" /></center>

			</td>

		</tr>

	</table>

</form>

