﻿<div class="jumbotron boxico reg section" id="EditInfo">
		<i class="fa fa-user fa-2x"></i>
		<h4>ﺃﺿﺎﻓﺔ ﺃﺭﻗﺎﻡ ﻟﻘﺎﺋﻤﺘﻚ</h4>
		<p class="boxdesc">
		صممت هذه الخدمة خصيصا لتمكن المعلنين من إرسال الرسائل الجماعية والاعلانية وغير الاعلانية عبر برنامح واتس آب الشهير والذي سيمنح المرسل امكانية ارسال الصور والفيديو بالاضافة عدد حروف كبير ليمكن المرسل من تحقيق اكبر استفادة ممكنة من عملية الارسال.
		</p>
		<form class="navbar-form" action="" method="post">
         <input type="hidden" class="form-control" name="group_id" value="{$ID}">
			<div class="form-group">
				<label>الارقام</label><br/>
				<textarea  class="form-control"  name="nums"></textarea>
			</div>
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="تحديث البيانات">
		</form>

	</div><!-- end id="EditInfo" -->
