﻿
	<div class="jumbotron boxico reg section" id="AddCharge">
		<i class="fa fa-plus fa-2x"></i>
		<h4>شحن الرصيد</h4>
		<p class="boxdesc">
		صممت هذه الخدمة خصيصا لتمكن المعلنين من إرسال الرسائل الجماعية والاعلانية وغير الاعلانية عبر برنامح واتس آب الشهير والذي سيمنح المرسل امكانية ارسال الصور والفيديو بالاضافة عدد حروف كبير ليمكن المرسل من تحقيق اكبر استفادة ممكنة من عملية الارسال.
		</p>
		<form class="navbar-form">
			<div class="form-group">
				<label>ﻋﺪﺩ اﻟﻨﻘﺎﻁ اﻟﻤﻄﻠﻮﺑﺔ أقل عدد نقاط يمكن طلبه هو 5000 نقطة</label><br/>
				<input type="text" class="form-control">

				<label>المبلغ</label><br/>
				<input type="text" class="form-control">

				<label>ﻃﺮﻳﻘﺔ اﻟﺪﻓﻊ</label><br/>
				<select class="form-control">
					<option>تحويل بنكي</option>
					<option>باي بال</option>
				</select>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">متابعة</button>
		</form>

	</div><!-- end id="AddCharge" -->