<div class="jumbotron boxico reg section" id="EditInfo ">
	<i class="fa fa-user fa-2x"></i>
		<h4>{$pagetitle}</h4>
       	<p class="boxdesc">
{$text}
</p>
    {if $ch eq 1}
   <button type="button" onclick="window.location='javascript:history.back()'" class="btn btn-primary">عودة للخلف</button>
   {else}
   <button type="button" onclick="window.location='{$homeurl}'" class="btn btn-primary">العودة للرئيسية</button>
   {/if}

          </div>


<!--===========Section-End===========-->