﻿<form  action="{$homeurl}/login/submit" method="post" class="navbar-form" role="form" class="form-valid" id="open-ajax-form">
<div class="modal-body">
			<div class="form-group">
				<label>الاسم</label><br/>
				<input type="text" class="form-control"  name="username">

                <br/><label>كلمة السر</label><br/>
				<input type="password" class="form-control"  name="password">
			</div>
</div>
<div class="modal-footer">
            <button class="btn btn-lg btn-primary btn-block" type="submit">دخول</button>
             <img src="{$image_path}/loading_balls.gif" class="open-ajax-submit" style="display:none;" />
</div>
		</form>
