	<div class="jumbotron boxico reg section" id="alertmsgs">
	<i class="fa fa-bell-o fa-2x"></i>
	<h4>????? ???????</h4>

	<p class="boxdesc">
	???? ??? ?????? ????? ????? ???????? ?? ????? ??????? ???????? ?????????? ???? ????????? ??? ?????? ???? ?? ?????? ????? ????? ?????? ??????? ????? ????? ???????? ???????? ??? ???? ???? ????? ?????? ?? ????? ???? ??????? ????? ?? ????? ???????.
	</p>

	<div class="col-md-4">
		<div class="plan-type boxico"><i class="fa fa-list-alt fa-3x"></i>
		<h3>??? ??????</h3>
		<h2>????? ????????</h2>
		</div>
	</div>
	<div class="col-md-4">
		<div class="plan-points boxico"><i class="fa fa-clipboard fa-3x"></i>
		<h3>??? ?????? ?? ??????</h3>
		<h2>500 ????</h2>
		</div>
   </div>
	<div class="col-md-4">
		<div class="plan-available boxico"><i class="fa fa-file-text-o fa-3x"></i>
		<h3>??? ?????? ????????</h3>
		<h2>50 ????</h2>
		</div>
	</div>
	<div class="clear"></div>
	</div><!-- end class="row" -->