﻿<div class="jumbotron boxico reg section" id="EditInfo ">
	<i class="fa fa-user fa-2x"></i>
		<h4>اعاده التوجية جارية</h4>
       	<p class="boxdesc">
جارى اعاده التوجيه
</p>
	<p class="boxdesc">

            <a style="color:blue; font:normal 11px tahoma; text-decoration:underline;" href="{$redirecturl}">تم تلقى طلبك بنجاح</a>

            </p>

          </div>


<!--===========Section-End===========-->