﻿	<div class="jumbotron boxico reg section" id="TransferCharge">
		<i class="fa fa-umbrella fa-2x"></i>
		<h4>ﺗﺤﻮﻳﻞ اﻟﻨﻘﺎﻁ</h4>
		<p class="boxdesc">
		صممت هذه الخدمة خصيصا لتمكن المعلنين من إرسال الرسائل الجماعية والاعلانية وغير الاعلانية عبر برنامح واتس آب الشهير والذي سيمنح المرسل امكانية ارسال الصور والفيديو بالاضافة عدد حروف كبير ليمكن المرسل من تحقيق اكبر استفادة ممكنة من عملية الارسال.
		</p>
		<form class="navbar-form" action="{$homeurl}/users/transfer_points" method="post">
			<div class="form-group">
				<label>ﺭﻗﻢ اﻟﺤﺴﺎﺏ اﻟﺬﻱ ﺗﻮﺩ ﺗﺤﻮﻳﻞ اﻟﻨﻘﺎﻁ ﺇﻟﻴﻪ</label><br/>
				<input type="text" class="form-control" name="reciver_num">

				<label>ﻋﺪﺩ اﻟﻨﻘﺎﻁ اﻟﻤﺮاﺩ ﺗﺤﻮﻳﻠﻬﺎ</label><br/>
				<input type="text" class="form-control" name="points">
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">متابعة</button>
		</form>

	</div><!-- end id="TransferCharge" -->