<table style="font:bold 15px Arial;direction:rtl;width:600px;margin:auto;border: 1px solid #e5e5e5;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);box-shadow: 0 1px 2px rgba(0,0,0,.05);">
	<tr><td style="padding:5px;text-align:center;border-bottom: 1px solid #e5e5e5;padding:5px;"><a href="{$homeurl}"><img src="{$image_path}/logo.png" /></a></td></tr>
	<tr><td style="padding:5px;">مرحبا بك {$name},</td></tr>
	<tr><td style="min-height:60px;">{$message}</td></tr>
</table>