{include file='managers/manager_navbar.tpl'}

<form method="post" action="">
<input value="{$userinfo.ID}" name="id" type="hidden" />
<input value="{$userinfo.Title}" name="username" type="hidden" />
<input value="{$userinfo.Email}" name="oldemail" type="hidden" />
<table id="predtable">

<tr><th class="th_rad" colspan="2">التحكم في المدراء</th></tr>

<tr><td class="norm">الاسم:</td>
<td class="altpoll"><input value="{$userinfo.Title}" name="user" type="text" size="40" /></td></tr>

<tr><td class="norm">كلمة المرور:</td>
<td class="altpoll"><input name="pass" type="text" size="40" /></td></tr>

<tr><td class="norm">البريد الالكتروني:</td>
<td class="altpoll"><input value="{$userinfo.Email}" name="email" type="text" size="40" dir="ltr" /></td></tr>


<tr><td class="retb_tab" colspan="2"><center>
	<input class="button" name="edit" type="submit" value="حفظ واعادة تحميل" />
	&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="button" name="cancel"  onclick="history.back();" value="الغاء"></center></td></tr>

</table>
</form>