/*
	Designed By: Artgine
	Coded By: Ahmed Hamouda
*/

* { margin: 0; padding: 0; outline: none; -webkit-font-smoothing: antialiased; }
.clear { clear: both; }
html, body { height: 100%; }
html { overflow: auto; }
body {
	margin:0;
	padding:0;
	border:0;
	font:normal 13px/1.2 "Droid Arabic Kufi", sans-serif;
	color:#898989;
	direction:rtl;
	text-align:right;
	}

h1, h2, h3, h4, h5 {
	font-weight:bold;
	margin:0px 0px 10px;
	padding:0px;
	color:#0089ee;
}

hr { border-color:#c7c7c7; border-width:2px; }

/* rtl support start */
[class^="col-"] { float:right; }
.table-responsive th {
	text-align:right;
	}
/* rtl support end */

#page {
	padding:0px;
	margin:0px;
	/*background:#171717;*/
}

/* THEME OVERRIDE */
.table-responsive {
	border:solid #d5d5d5;
	border-width:1px 1px 0 0;
	}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background:transparent;
}
.table-responsive td {
	border:solid #e4e4e2;
	border-width:0 0 1px 1px;
	}
.table>tbody>tr>td { color:#0089ee; padding:10px; font-size:12px; line-height:18px; }
.table>tbody>tr>td:nth-child(2) { color:#898989; }
.table>thead>tr>th {
	background:#f0f0f0;
	border:none;
	border:solid #e4e4e2;
	border-width:0 0 0 1px;
	color:#000;
	font-weight:bold;
	font-size:13px;
	line-height:44px;
	padding:0 10px;
	}
	
.btn-primary { background-color:#0089ee; border-color:#0089ee; }

/* THEME OVERRIDE */

#header {
	background:#fff;
	padding:15px;
	margin:0 -15px 15px;
	-moz-box-shadow:0 1px 3px rgba(32,40,48,.15);
	-webkit-box-shadow:0 1px 3px rgba(32,40,48,.15);
	box-shadow:0 1px 3px rgba(32,40,48,.15);
	}
#header .dropdown {
	float:right;
	position:relative;
	display:inline-block;
	-moz-box-shadow: inset 0 0 10px #000;
	-webkit-box-shadow: inset 0 0 10px #000;
	box-shadow: inset 0 0 10px #000;
	}
#header .dropdown .dropdown-toggle {
	background:#f1f1f1;
	height:50px;
	line-height:50px;
	padding:0 10px;
	display:block;
	text-decoration:none;
	position:relative;
	z-index:3;
	border:solid transparent;
	border-width:1px 1px 0; 
	font-weight:bold;
	color:#acacac;
	}
#header .dropdown .dropdown-toggle:hover,
#header .dropdown .dropdown-toggle .caret { color:#000; }
#header .dropdown .dropdown-toggle img {
	vertical-align:middle;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;	
	}
#header .dropdown.open .dropdown-toggle { border-color:#d5d5d5; color:#000; }

#header .dropdown .dropdown-menu {
	left:auto;
	right:0px;
	top:47px;
	border:none;
	background:#f1f1f1;
	
	z-index:1;
	
	border:1px solid #d5d5d5;
	
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-o-border-radius:0px;
	border-radius:0px;	
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	}
#header .headeropts { float:left; }
#header .headeropts a {
	color:#acacac;
	margin:10px 0;
	text-decoration:none;
	font-size:18px;
	line-height:30px;
	padding:0 20px;
	position:relative;
}
#header .headeropts a.settings { border:solid #e7e7e8; border-width:0 1px; }
#header .headeropts a:hover { color:#171717; }
#header .headeropts a .count {
	position:absolute;
	color: #fff;
	background-color: #0089ee;
	top: 0px;
	left: 5px;
	font-size: 10px;
	line-height: 16px;
	padding: 0 5px;
	font-style: normal;
	border-radius: 50%;
	}
#dashbody, #sidebar {
	display:block;
	min-height:100%;
	}	

#dashbody {
	background:#f1f1f1;
	padding:0 15px 15px;
	margin:0px;
	float:left;
	}
#dashbody .jumbotron {
	background:#fff;
	border:1px solid #d5d5d5;
	padding:20px;
	position:relative;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	}
#dashbody .jumbotron.main {
	padding-right:110px;
	min-height:112px;
	}
#dashbody .jumbotron.reg {
	padding-right:70px;
	min-height:76px;
	}
#dashbody .jumbotron h4 { font-size:16px; line-height:34px; }

#dashbody .jumbotron .table>tbody>tr>td:nth-child(2) { max-width:480px; }
#dashbody .jumbotron .table>tbody>tr>td:nth-child(4) { max-width:120px; }
#dashbody #ShowLists .table { margin:0px; }

.table>tbody>tr>td .date {
	color:#0089ee;
	display:block;
	font-style:normal;
	font-size:12px;
	}

#dashbody .boxico { position:relative; }
#dashbody .boxico .fa {
	color:#fff;
	text-align:center;
	display:block;
	position:absolute;
	top:20px;
	right:20px;
	background:#0089ee;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}
#dashbody .main.boxico  .fa { width:70px; line-height:70px; border-radius:0px; }
#dashbody .reg.boxico  .fa { width:34px; line-height:34px; }

#dashbody .alert-info { color:#0089ee; background-color:#bfe1fb; line-height:20px; font-size:13px; }

#dashbody .count_message {
	text-align: left;
	color: #df0e1f;
	width: inherit;
	margin: -10px 0px 15px;
	font: normal 13px/24px Tahoma, sans-serif;
	padding: 0 0 0 30px;
	}

#dashbody #alertmsgs .col-md-4 { padding-right:0px; }

#dashbody .section { margin:30px 0; }
#dashbody .section .boxdesc { font-size:13px; line-height:24px; }
#dashbody .btn-link {
	background:#171717;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
	}
#dashbody .btn-link:hover { background-color:#0089ee; }
#dashbody #welcome .btn-link { float:left; margin:20px 0 0; }
#dashbody #welcome .boxdesc { margin:0px; font-size:14px; line-height:35px; }
#dashbody [class^="plan-"] {
	padding:20px;
	height:110px;
	position:relative;
	}
#dashbody [class^="plan-"] h2 { color:#000; font-size:20px; line-height:35px; }
#dashbody [class^="plan-"] h3 { color:#fff; font-size:16px; line-height:35px; font-weight:normal; margin:0px; }
#dashbody [class^="plan-"].boxico { padding-right:110px; position:relative; }
#dashbody [class^="plan-"].boxico .fa {
	color:#fff;
	width:70px;
	line-height:70px;
	position:absolute;
	right:30px;
	background:#171717;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	}
#dashbody .plan-type { background-color:#28dbc5; }
#dashbody .plan-points { background-color:#eb7c2b; }
#dashbody .plan-available { background-color:#dd4551; }
#dashbody .navbar-form {
	width:570px;
	}
#dashbody .navbar-form label { color:#171717; }
#dashbody .navbar-form .btn {
	font-size:15px;
	color:#fff;
	background-color:#0089ee;
	border-color:#0089ee;
	font-weight:bold;
}
#dashbody .form-control {
		margin:15px 0;
		color:#898989;
		width:540px;
		line-height:34px;
	}
	#dashbody select.form-control { padding-top:0px; padding-bottom:0px; }
#dashbody #GroupMessage [class^="col-"] { float:right; }
#dashbody #GroupMessage #gm_import { max-width: 360px; padding:0px; }
#dashbody #GroupMessage #gm_import .btn { width:100%; padding-top:10px; padding-bottom:10px; margin:40px 0 -20px; }
#sidebar {
	background:#171717;
	color:#fff;
	padding:10px;
	float:right;
	}

#sidebar .widget {
	padding:10px;
	-moz-box-shadow:0 1px 3px rgba(32,40,48,.15);
	-webkit-box-shadow:0 1px 3px rgba(32,40,48,.15);
	box-shadow:0 1px 3px rgba(32,40,48,.15);
	
	margin:0 0 20px;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;	
	}
#sidebar #logo {
	color:#0089ee;
	font-weight:bold;
	font-size:20px;
	line-height:50px;
	text-align:center;
	padding-right:60px;
	background:url(img/logo.png) no-repeat right center transparent;
	}
#sidebar #member {
	
	}
#sidebar #member .icon-member {
	width:60px;
	height:60px;
	margin:10px auto 20px;
	position:relative;
	display:block;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	}
#sidebar #member .icon-member:before {
	width:60px;
	line-height:60px;
	display:block;
	color:#fff;
	position:absolute;
	left:0px;
	top:0px;
	background:#0089ee;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	}
#sidebar #member .icon-member img {
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	}
#sidebar #member p { color:#0089ee; font-size:11px; text-align:center; line-height:1.5; }
#sidebar #member p strong { color:#acacac; font-size:14px; }

#sidebar #accordion {
	text-shadow:none;
	padding:0px;
	background:transparent;
	margin:0 -10px 10px;
}
#sidebar #accordion {}
#sidebar #accordion .panel-heading,
#sidebar #accordion .panel-body { border:none; padding:10px 0 0; font-size:12px; line-height:18px; }
#sidebar #accordion .panel-body li {
	list-style:none;
	font-size:13px;
	font-weight:bold;
	line-height:26px;
	margin:0px;
	}
#sidebar #accordion .panel-body li a:hover { text-decoration:none; color:#fff; }
#sidebar #accordion .panel-title {
	color:#fff;
	font-weight:bold;
	font-size:15px;
	line-height:24px;
	position:relative;
	margin:0 0 10px;
	font-family:'Droid Arabic Kufi', sans-serif;
	}
#sidebar #accordion .panel-title:hover { text-decoration:none; color:#0089ee; }
#sidebar #accordion .panel-title:before {
	width:24px;
	height:24px;
	font-family:'FontAwesome', sans-serif;
	display:block;
	color:#0089ee;
	position:absolute;
	top:0px;
	right:-34px;
	font-size:22px;
	}
#sidebar #accordion .panel {
	border-radius:0px;
	box-shadow:none;
	background:transparent;
	padding:0 50px 15px 10px;
	margin:0 0 15px;
	border-bottom:1px solid #212121;
	border-right:4px solid transparent;
}
#sidebar #accordion .active { border-right-color:#0089ee; }

.opts { }
.opts li {
	list-style:none;
	float:right;
	height:28px;
	width:28px;
	margin:0 0 0 10px;
	position:relative;
}
.opts [class^="opt-"] {
	width:28px;
	height:28px;
	line-height:28px;
	color:#fff;
	display:block;
	background:#0089ee;
	border-radius:2px;
	border:none;
	cursor:pointer;
	text-decoration:none;
}
.opts .fa {
	position:relative !important;
	line-height:28px !important;
	width:28px !important;
	top:0px !important;
	right:0px !important;
	font-size:18px;
	}
.opts .fa:hover { background:#898989 !important; }

	
#dashbody .btn_c-default  { background-color:#0089ee; }
#dashbody .btn_c-grey  { background-color:grey; }



#footer { color:#898989; font-weight:bold; line-height:28px; }
#footer span { color:#0089ee; }


.socialicos { float:left; margin:0px; }
.socialicos li { list-style:none; float:right; margin:0 6px 0 0; }
.socialicos li a {
	width:28px;
	height:28px;
	display:block;
	background:#2a2a2a;
	color:#acacac;
	line-height:28px;
	font-size:18px;
	text-decoration:none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;	
	}
.socialicos li a:hover { background-color:#0089ee; color:#fff; }

.multitems { }
.multitems .carousel-inner {
}
.multitems .carousel-inner .item { height:220px; }
.multitems .carousel-inner .item .col-md-4 { padding:10px; }
.multitems .carousel-inner .item .col-in {
	border:1px solid #d5d5d5;
	padding:10px;
	display:block;
	height:100%;
	float:none;
	}
.multitems .carousel-inner .item .col-in h4 {
	margin:0 0 5px;
	color:#171717;
	}
.multitems .carousel-inner .item .col-in h4 .fa {
	display:inline-block !important;
	position:relative !important;
	top:0px !important;
	right:0px !important;
	margin:0 0 0 5px;
	}
.multitems .carousel-inner .item .col-in hr { border-width:1px; margin:10px 0; }
.multitems .carousel-inner .item .col-in p {
	font-size:13px;
	line-height:20px;
	}
.multitems .carousel-inner .item .col-in .btn { margin:0px; }
.multitems .carousel-inner .item .col-in .category {
	color:#acacac !important;
	width:auto !important;
	position:relative !important;
	top:0px !important;
	right:0px !important;
	background:transparent !important;
	display:inline-block !important;
	padding:0px;
	}
.multitems .carousel-inner .item .col-in .category:before { margin-left:5px; }

.multitems .carousel-inner .item .col-in .btn-snd { float:left; }

.multitems .carousel-control {
	width:28px !important;
	height:28px !important;
	background-color:#0089ee;
	text-align:center;
	text-shadow:none;
	line-height:28px !important;
	color:#fff;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	top:50% !important;
	margin:-14px 0 0;
	}
.multitems .carousel-control:hover { background-color:#171717 !important; }

.multitems .carousel-control.right { right:-30px !important; }
.multitems .carousel-control.left { left:-30px !important; right:auto !important; }

#carousel-messages { float:none; margin:0 auto; }

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/