/*
	Designed By: Artgine
	Coded By: Ahmed Hamouda
*/

* { margin: 0; padding: 0; outline: none; -webkit-font-smoothing: antialiased; }
.clear { clear: both; }
html, body { height: 100%; }
html { overflow: auto; }
body {
	margin:0;
	padding:0;
	border:0;
	font:normal 13px/1.2 "Droid Arabic Kufi", sans-serif;
	color:#898989;
	direction:rtl;
	text-align:right;
	background:#fff;
	}

h1, h2, h3, h4, h5 {
	font-weight:bold;
	margin:0px 0px 10px;
	padding:0px;
	color:#0089ee;
}

h4 { font-size:20px; }

hr { border-color:#c7c7c7; border-width:2px; }

/* rtl support start */
[class^="col-"] { float:right; }

.navbar-nav,
.nav>li { float:right; }

.table-responsive th {
	text-align:right;
	}
/* rtl support end */

#page {
	padding:0px;
	margin:0px;
}

/* THEME OVERRIDE */
.table-responsive {
	border:solid #d5d5d5;
	border-width:1px 1px 0 0;
	}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background:transparent;
}
.table-responsive td {
	border:solid #e4e4e2;
	border-width:0 0 1px 1px;
	}
.table>tbody>tr>td { color:#0089ee; padding:10px; font-size:12px; line-height:18px; }
.table>tbody>tr>td:nth-child(2) { color:#898989; }
.table>thead>tr>th {
	background:#f0f0f0;
	border:none;
	border:solid #e4e4e2;
	border-width:0 0 0 1px;
	color:#000;
	font-weight:bold;
	font-size:13px;
	line-height:44px;
	padding:0 10px;
	}
	
.btn-primary { background-color:#0089ee; border-color:#0089ee; }

/* THEME OVERRIDE */
[class^="col-"] .incol {
	padding:10px;

	}

/* GENERAL STYLING RULES */
.headline {
	color:#437bd0;
	line-height:1;
	margin:0 auto 10px;
	text-align:center;
	padding:0 30px 0;
	border-bottom:1px solid #d6d6d6;
	display:inline-block;
}
.headline:after {
	content: " ";
	width:50%;
	height:3px;
	margin:10px 0 0;
	background:#008aef;
	display:inline-block;
	text-align:center;
	position:relative;
	top:2px;
}

.socialicos {
	
	}
	.socialicos li {
		list-style:none; float:right;
	}


.btn-primary { font-weight:bold; }

.panel { border-color:#d6d6d6; }

.panel-primary>.panel-heading { background-color:#0089ee; }



#page {
	background:#fff;
	}
#page section {
	 padding:80px 0;
}
#page section.seceven { background-color:#fff; border-bottom:1px solid #f3f3f3; }
#page section.secodd { background-color:#f8f7f7; }

/* Styling */
#prehead {
	height:33px;
	background:#f8f7f7;
	border-bottom:1px solid #ebebeb;
	color:#acacac;
	}
	#prehead #contacts {
		float:right;
		padding:10px 0;
	}
	#prehead #contacts em {
		font-style:normal;
		line-height:13px;
		float:right;
		padding:0 15px;
	}
	#prehead #contacts .fa-envelope { border-left:1px solid #242424; padding-right:0px; }
	#prehead #contacts em:before { float:right; color:#0089ee; margin-left:10px; }
	#prehead .socialicos {
		float:left;
		border-left:1px solid #ebeaea;
		}
	#prehead .socialicos li {
		border-right:1px solid #ebeaea;
		}
	#prehead .socialicos li a {
		text-align:center;
		width:33px;
		line-height:33px;
		text-decoration:none;
		color:#acacac;
		font-size:1.3em;
	}
	#prehead .socialicos li a:hover { color:#fff; background:#0089ee; }

	
#header {
	height:94px;
	}
	#header [class^="col-"] { padding:0px; }
	#header .logo {
		color:#0089ee;
		font-weight:bold;
		font-size:20px;
		line-height:50px;
		text-align:right;
		padding-right:60px;
		margin:22px 0;
		display:inline-block;
		background:url(img/logo.png) no-repeat right center transparent;
		text-decoration:none;
	}
	#header .col-md-7 { margin:-10px 0 0; }
	#header .logo:hover { color:#242424; }
	#page .container:before,
	#page .nav:before { display:none; }
	#header .btn,
	#header .nav { float:right; }
	#header .nav a {
		padding-top:0px;
		padding-bottom:0px;
		line-height:91px;
		font-weight:bold;
		color:#000;
		margin-left:15px;
		border-top:3px solid transparent;
		background:transparent;
	}
	#header .nav a:hover,
	#header .nav .active a { border-color:#0089ee; }
	#header .btn { margin:30px 15px 30px 0; color:#fff; }
#page #carousel-main {
	background:#151b1e;
	color:#fff;
	height:auto;
	padding:0px;
	}
	#carousel-main .item img { width:100%; }
	#carousel-main .carousel-control {
		width:44px;
		height:44px;
		
		text-shadow:none;
		
		top:50%;
		margin-top:-22px;
		
		text-align:center;
		
		border:2px solid #fff;
		border-radius:50%;
		}
		#carousel-main .carousel-control.right { right:70px; }
		#carousel-main .carousel-control.left { left:70px; }
		#carousel-main .carousel-control .fa { font-size:12px; line-height:44px; }
		#carousel-main .carousel-control:hover { border-color:#0089ee; color:#0089ee; }
		#carousel-main .carousel-caption {
			bottom:auto;
			top:35%;
			margin:0px;
			}
			#carousel-main .carousel-caption .btn { padding:5px 30px; color:#fff; }
	
section {
	font-size:14px;
	font-weight:bold;
	color:#acacac;
	line-height:28px;
	text-align:center;
	}
section#Apps {
	background:url(img/bg-Apps.png) no-repeat center bottom #171717 !important;
	background-size:50%;
	}
	section#Apps .container {
		padding:0 0 256px;		
	}
	section#Apps .container h3 { margin:0 0 10px; }

section#Welcome { }
section#Messages { }
section#Apps { }
section#pricing { }
section#testimonials { text-align:center; }

section#testimonials .client { padding:15px; }
section#testimonials .client .incol {
	border:1px solid #d6d6d6;
	background:#fff;
	padding:0px;
	}
section#testimonials .client .incol img { width:100%; height:auto; }

section#testimonials #carousel-testimonials {
	background:#fff;
	font-weight:normal;
	padding:20px;
	border:1px solid #d6d6d6;
	text-align:right;
	}
	section#testimonials #carousel-testimonials .carousel-inner .item { height:auto; }
	section#testimonials #carousel-testimonials .carousel-inner [class^="col-"] { margin:0px; padding:0px; }
	section#testimonials #carousel-testimonials .avatar { }
	section#testimonials #carousel-testimonials .feedback {
		color:#898989;
		font-size:13px;
		line-height:20px;
		}
		section#testimonials #carousel-testimonials .feedback h4 { font-size:14px; }
		section#testimonials #carousel-testimonials .feedback h5 {
			color:#171717;
			font-size:12px;
			font-weight:normal;
			margin:0px;
			}
	section#testimonials #carousel-testimonials .avatar {
		float:right;
		display:inline-block;
	}
	section#testimonials #carousel-testimonials .carouselcontrolcontainer {
		position:absolute;
		background:#fff;
		left:20px;
		bottom:20px;
	}





#pricing .panel .btn {
	width:100%;
	}



#pricing .panel .list-group .list-group-item { font-weight:normal; }
#pricing .panel .list-group .list-group-item.price {
	background:#e4e3e3;
	border-color:#d6d6d6;
	padding:20px 0 10px;
	font-size:13px;
	color:#acacac;
	}
#pricing .panel .list-group .list-group-item.price span {
	color:#000;
	font-weight:bold;
	font-size:35px;
	display:block;
	padding:1px 0;
	}
#pricing .panel .list-group .list-group-item .btn { margin:20px 0; }

#pricing .panel .color-blue { }


.color-blue { }
.color-orange { }

.color-green { }
.color-green>.panel-heading { background-color:#28dbc7; border-color:#28dbc7; }
.color-green .btn { background-color:#28dbc7; border-color:#28dbc7; }

.color-orange { }
.color-orange>.panel-heading { background-color:#eb7d28; border-color:#eb7d28; }
.color-orange .btn { background-color:#eb7d28; border-color:#eb7d28; }

.color-red { }
.color-red>.panel-heading { background-color:#df4551; border-color:#df4551; }
.color-red .btn { background-color:#df4551; border-color:#df4551; }


.carousel-control {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	}



.multitems { }
.multitems .carousel-inner { margin:10px 0 0; }
.multitems .carousel-inner .item { height:220px; }
.multitems .carousel-inner .item .col-md-4 { padding:10px; }
.multitems .carousel-inner .item .col-in {
	border:1px solid #d5d5d5;
	color:#898989;
	padding:20px 10px;
	display:block;
	height:100%;
	float:none;
	text-align:right;
	background:#fff;
	border-radius:5px;
	}
.multitems .carousel-inner .item .col-in h4 {
	margin:0 0 5px;
	color:#171717;
	line-height:14px;
	font-size:14px;
	}
.multitems .carousel-inner .item .col-in h4 .fa {
	display:inline-block ;
	width:28px;
	line-height:28px;
	margin:0 0 0 5px;
	background:#0089ee;
	color:#fff;
	border-radius:3px;
	}
.multitems .carousel-inner .item .col-in hr { border-width:1px; margin:10px 0; }
.multitems .carousel-inner .item .col-in p {
	font-size:13px;
	line-height:20px;
	font-weight:normal;
	}
.multitems .carousel-inner .item .col-in .btn { margin:0px; }
.multitems .carousel-inner .item .col-in .category {
	color:#acacac !important;
	width:auto !important;
	position:relative !important;
	top:0px !important;
	right:0px !important;
	background:transparent !important;
	display:inline-block !important;
	padding:0px;
	line-height:34px;
	float:right;
	}
.multitems .carousel-inner .item .col-in .category:before { margin-left:5px; }

.multitems .carousel-inner .item .col-in .btn-snd { float:left; }

.multitems .carousel-control {
	width:28px;
	height:28px;
	background:#0089ee;
	text-align:center;
	text-shadow:none;
	line-height:28px !important;
	color:#fff;
	position:relative;
	margin:0 5px;
	border-radius:3px;
	}
.multitems .carousel-control:hover { background-color:#171717 !important; }

.multitems .carousel-control.right { }
.multitems .carousel-control.left { }

#carousel-welcome .item .col-in { border:none; padding:0px; }
#carousel-welcome .item,
#carousel-welcome .item p  { text-align:center; font-size:13px; }
#carousel-welcome .item h4 {
	margin:0 0 10px;
	color:#171717;
	line-height:14px;
	font-size:14px;
	text-align:center;
	}
#carousel-welcome .item .fa {
	display:block;
	width:70px;
	line-height:70px;
	margin:0 auto 15px;
	background:#acacac;
	font-size:32px;
	}
#carousel-welcome .item .col-in:hover .fa { background-color:#0089ee; }
#carousel-welcome,
#carousel-messages { float:none; margin:0 auto; height:232px; }


























#footer {
	background:#171717;
	}
	#footer .container {
		padding:25px 0;
	}
	#footer [class^="col-"] { padding:0px; margin:0px; }
	#footer p {
		float:right;
		line-height:28px;
		margin:0px;
	}
	#footer p span { color:#0089ee; }
	#footer .socialicos { float:left; margin:0px; }
	#footer .socialicos a {
		font-size:;
		margin:0 5px 0 0;
		background:#2a2a2a;
		color:#acacac;
		line-height:28px;
		width:28px;
		text-align:center;
		text-decoration:none;
		}
	#footer .socialicos a:hover { background-color:#0089ee; color:#fff; }

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-dialog {
  position: relative;
  z-index: 1050;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.modal-body {
  position: relative;
  padding: 20px;
}

.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.rtl .modal-footer .btn + .btn {
  margin-left: auto; margin-right: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.rtl .modal-footer .btn-group .btn + .btn {
  margin-left: auto;margin-right: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.rtl .modal-footer .btn-block + .btn-block {
  margin-left: auto;margin-right: 0;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
