<table id="predtable" style="width:50%" align="center">

<tr><th class="th_rad">رسالة ادارية</th></tr>

<tr><td style="text-align:center" class="norm">
<img src="style/images/navbar/alert48.png" style="float:right;margin-right:50px" />
<span style="float:right;margin-right:30px">{$text}<br /><br /><br />
{if $ch eq 1}
<input type="button" class="normal_button" value="عوده للخلف" onclick="window.location='javascript:history.back()'">
{elseif $ch eq 0}
<input type="button" class="normal_button"  value="اغلاق النافذه" onclick="window.close();">
{elseif $ch eq 2}
<input type="button" class="normal_button"  value="استكمال الخطوات" onclick="window.location='{$redir}';">
{/if}
</span>
</td></tr>

<tr><td class="retb_tab">&nbsp;</td></tr>

</table>