<div style="margin:40px"></div>
</div>

{literal}
<script type="text/javascript">
if('{/literal}{$smarty.session.langdir}{literal}' == 'ltr'){
  var select = document.getElementsByTagName('input');
  var count = select.length;
  for(i=0;i<count;i++) {
    select[i].dir = 'ltr';
  }
  var select = document.getElementsByTagName('textarea');
  var count = select.length;
  for(i=0;i<count;i++) {
    select[i].dir = 'ltr';
  }
}
</script>
{/literal}

</body>
</html>