<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>لوحة التحكم</title>
</head>

<frameset>
<frameset cols="80%,20%">
<frame src='home.php' id='leftFrame' name='leftFrame'width='75%' height='100%' frameborder='0' scrolling='yes' />

<frame src='home.php?action=navigate' id='RightFrame' name='RightFrame' frameborder='0' scrolling='yes' />
</frameset>

<noframes>
<body>
</body>
</noframes>

</frameset>

</html>