<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>تسجيل دخول لوحة تحكم</title>

<link type="text/css" rel="stylesheet" href="style/style.css" />
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="style/IE.css" />
<![endif]-->

</head>
<body>

<form action="login.php" method="post">
<input type="hidden" name="do" value="{$smarty.get.do}" />

<table id="predtable" style="width:50%;margin-top: 10%;" align="center">
<tr><th class="th_rad" colspan="2">دخول لوحة التحكم</th></tr>

<tr>
<td class='altpoll' style="width:20%">اسم المستخدم:</td>
<td class='norm'><input name="user" type="text" size="60" /></td>
</tr>

<tr>
<td class='altpoll'>كلمة المرور:</td>
<td class='norm'><input name="pass" type="password" size="60" /></td>
</tr>

<tr><td colspan="2" class="retb_tab">
		<input class="button" name="log" type="submit" value="دخــول" />
	</td></tr>

</table>
</form>

</body>
</html>