<ul class="shortcut-buttons-set">

	<li><a href="categories.php" class="shortcut-button"><span>	<img alt="icon" src="style/images/navbar/edit.png" /><br />التحكم فى الاقسام</span></a></li>

	<li><a href="users.php" class="shortcut-button"><span>	<img alt="icon" src="style/images/navbar/edit.png" /><br />التحكم فى الاعضاء</span></a></li>

    <li><a href="msg_categories.php" class="shortcut-button"><span>	<img alt="icon" src="style/images/navbar/edit.png" /><br />التحكم فى اقسام الرسائل الجاهزه</span></a></li>

     <li><a href="msg_templates.php" class="shortcut-button"><span>	<img alt="icon" src="style/images/navbar/edit.png" /><br />التحكم فى الرسائل الجاهزة</span></a></li>

      <li><a href="payments.php" class="shortcut-button"><span>	<img alt="icon" src="style/images/navbar/edit.png" /><br />احصائيات الدفع</span></a></li>

    <li><a href="managers.php" class="shortcut-button"><span>	<img alt="icon" src="style/images/navbar/edit.png" /><br />التحكم فى المديرين</span></a></li>

    <li><a href="membership.php" class="shortcut-button"><span>	<img alt="icon" src="style/images/navbar/edit.png" /><br />التحكم فى النقاط</span></a></li>

    <li><a href="pages.php" class="shortcut-button"><span>	<img alt="icon" src="style/images/navbar/edit.png" /><br />التحكم فى الصفحات</span></a></li>


</ul>