<table id="stat" align="center" style="margin-bottom:30px">

<tr><th class="th_rad">قائمة الوصول السريع</th></tr>

<tr><td class="norm">

{include file='main_navbar.tpl'}

</td></tr>

</table>


<table id="stat" align="center">



<tr><th class="th_rad" colspan="4">معلومات عن السيرفر</th></tr>

<tr>

  <td class="altpoll">نوع السيرفر</td>

  <td class="norm" style="width:30%">{$info2[1]}</td>

  <td class="altpoll">اصدارة PHP</td>

  <td class="norm" style="width:30%">{$info[2]}</td>

</tr>

<tr>

  <td class="altpoll">خادم السيرفر</td>

  <td class="norm">{$info[0]} {$info2[0]}</td>

  <td class="altpoll">اصدارة MYSQL</td>

  <td class="norm">{$info2[3][0]}</td>

</tr>

</table>
<br/><br/>
<table id="stat" align="center">

  <tr><th class="th_rad" colspan="4">ملاحظات مدير الموقع</th></tr>

  <tr><td class="norm"><center><textarea id="notes" style="width:80%" rows="15">{$stat.notes[0]}</textarea></center></td></tr>

  <tr><td class="altpoll">

  <center><input class="button" type="button" value="حفــظ" onclick="ajax_admin_notes()" />

  <img src="style/images/progressbar2.gif" id="ajax_show_admnot" alt="" style="display:none;" /></center></td></tr>

</table>
