{include file='page_navbar.tpl'}



<form action="" method="post" enctype="multipart/form-data">

<input name="id" value="{$pagedit.ID}" type="hidden" />



<table id="predtable">



<tr><th class="th_rad" colspan="2">{$pagedit.Title|default:'اضافة صفحة جديدة'}</th></tr>



<tr><td class="norm">عنوان الصفحه:</td>

<td class="altpoll"><input value="{$pagedit.Title}" name="title" type="text" size="60" {if empty($pagedit.Seotitle)}onblur="document.getElementById('seotit').value=this.value"{/if} /></td></tr>



<tr><td class="norm">عنوان SEO:</td>

<td class="altpoll"><input value="{$pagedit.Seotitle}" name="seotitle" type="text" id="seotit" size="60" /></td></tr>


     <tr><td class="norm">القسم:</td>
<td class="altpoll">
<select name="secid" onchange="PageOption(this.value)">
<option value="">اختر القسم</option>
  <option value="0" {if $pagedit.Secid eq 0}selected="selected"{/if}>صفحة رئيسية بدون اقسام</option>
  <option value="-1" {if $pagedit.Secid eq -1}selected="selected"{/if}>صفحة رئيسية تحتوي على اقسام</option>
  {section name=op loop=$section}
  <option value="{$section[op].ID}" {if $pagedit.Secid eq $section[op].id}selected="selected"{/if}>
  &nbsp;&nbsp;{$section[op].Title}</option>
  {/section}
</select>
</td></tr>

<tr id="ContentHolder" {if $pagedit.Secid eq -1}style="display:none;"{/if}>

<td class="norm">المحتوى:</td>

<td class="altpoll">

<input class="normal_button" type="button" value="محرر متقدم" onclick="PageEditor(1, {$pagedit.ID|default:0})" />

<input class="normal_button" type="button" value="محرر بسيط" onclick="PageEditor(0, {$pagedit.ID|default:0})" /><br /><br />

<div id="ajax_editor">

{php}

global $page;

$oFCKeditor = new FCKeditor ('content');

$oFCKeditor->BasePath = '../userditor/';

$oFCKeditor->Config['ContentLangDirection'] = $_SESSION['langdir'];

$oFCKeditor->Height = '512';

$oFCKeditor->Value = $page['Content'];

$oFCKeditor->Create ();

{/php}

</div>

<img src="style/images/ajax-loader.gif" id="Eprocess" style="display:none;" />

</td></tr>



<tr><td class="norm">تنشيط الصفحة:</td>

<td class="altpoll"><input {if $pagedit.Status eq 1}checked="checked"{/if} name="status" type="checkbox" /></td></tr>



<tr><td class="retb_tab" colspan="2"><center>

	<input class="button" type="submit" value="حفظ وارسال" />

	<input class="button" type="reset" value="افراغ الحقول" />

</center></td></tr>



</table>

</form>