<ul class="shortcut-buttons-set">
{if  ($permessions neq "" && in_array(7,$permessions)) || $Group_ID_Session eq 0}
	<li><a href="page.php" class="shortcut-button"><span>

	<img alt="icon" src="style/images/navbar/File.png" /><br />

	التحكم في الصفحات</span></a></li>
 {if ($sub_permession[7] neq '' && in_array(1,$sub_permession[7])) || $Group_ID_Session eq 0}
	<li><a href="page.php?action=new" class="shortcut-button"><span>

	<img alt="icon" src="style/images/paper_content_pencil_48.png" /><br />

	اضافة صفحه جديده</span></a></li>
{/if}
{if ($sub_permession[7] neq '' && in_array(4,$sub_permession[7])) || $Group_ID_Session eq 0}
    	<li><a href="page.php?action=nactive" class="shortcut-button"><span>

	<img alt="icon" src="style/images/navbar/File.png" /><br />

   الصفحات الغير مفعلة</span></a></li>
   {/if}
   {/if}
</ul>