 <div style="float:left;text-align:left">
 {$paging}
 <br /> <br />
 <span class='paging_navigation'>عرض {$page.start} - {$page.end} من {$page.total}&nbsp;&nbsp;&nbsp;[عدد الصفحات {$page.total_pages} صفحه]</span>

<select onchange="javascript:RedirectUrl('{$current_page}&limit=',this.value)">
{section name=op start=5 loop=105 step=5}
    <option {if $paging_limit eq $smarty.section.op.index}selected="selected"{/if}>{$smarty.section.op.index}</option>
{/section}
</select>
</div>