<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>اعادة التوجيه جارية</title>
</head>

<body>

<table id="predtable">

<tr><th class="th_rad">&nbsp;</th></tr>

<tr><td style="text-align:center" class="norm">....تم تلقى طلبك بنجاح. سيتم اعادة توجيهك في خلال ثواني<br /><br /><br />
<a style="color:blue; font:normal 11px tahoma; text-decoration:underline;" href="{$redirecturl}">إذا كان متصفحك لا يدعم الانتقال التلقائي اضغط هنا.</a>
</td></tr>

<tr><td class="retb_tab">&nbsp;</td></tr>

</table>

</body>

{literal}
<script>
function Redirect() {
    setTimeout("postaction()", pausefor*1000);
}
function postaction(){
  if (window.timer){
    clearInterval(timer);
    clearInterval(timer_2);
  }
  window.location = redirecturl;
}
</script>
{/literal}

</html>