<ul class="shortcut-buttons-set">
	<li><a href="setting.php?action=save" class="shortcut-button"><span>

	<img alt="icon" src="style/images/navbar/setting.png" /><br />

	اعدادات الموقع</span></a></li>

	<li><a href="contact.php" class="shortcut-button"><span>

	<img alt="icon" src="style/images/navbar/kaddressbook.png" /><br />

	رسائل اتصل بنا</span></a></li>

</ul>