<ul class="shortcut-buttons-set">
	<li><a href="membership.php" class="shortcut-button"><span>
	<img alt="icon" src="style/images/navbar/Profile.png" /><br />
 التحكم فى اسعار النقاط</span></a></li>
	<li><a href="membership.php?action=add" class="shortcut-button"><span>
	<img alt="icon" src="style/images/paper_content_pencil_48.png" /><br />
   اضافة جديد</span></a></li>
</ul>