{include file='membership/membership_navbar.tpl'}

<form method="post" action="">
<input value="{$info.ID}" name="id" type="hidden" />
<table id="predtable">

<tr><th class="th_rad" colspan="2">التحكم فى اسعار النقط</th></tr>

<tr><td class="norm">العنوان:</td>
<td class="altpoll"><input value="{$info.Title}" name="title" type="text" size="40" /></td></tr>


<tr><td class="norm">عدد النقط:</td>
<td class="altpoll"><input value="{$info.Points}" name="points" type="text" size="40" /></td></tr>

<tr><td class="norm">التكلفة:</td>
<td class="altpoll"><input name="cost" value="{$info.Cost}" type="text" size="40" /></td></tr>

<tr><td class="norm">اللغة:</td>

<td class="altpoll">
<select name="lang" id="lang">
<option value="">اختر اللغة</option>
<option value="ar" {if $info.Lang eq 'ar'} selected="selected" {/if}>العربية</option>
<option value="en" {if $info.Lang eq 'en'} selected="selected" {/if}>الانجليزية</option>
</select>
</td></tr>

<tr><td class="retb_tab" colspan="2"><center>
	<input class="button" name="add" type="submit" value="حفظ واعادة تحميل" />
	&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="button" name="cancel"  onclick="history.back();" value="الغاء"></center></td></tr>

</table>
</form>