
.mbproxy{border:1px dotted gray;background: url(images/container/proxy.png)}

.containerPlus {font-family:Arial; font-size:16px; visibility:hidden; text-align: right;}
.containerPlus .spacer {margin-top:10px}
.containerPlus .buttonBar { position:relative;top:0;float:left;margin-top:-23px; margin-left:0}
.containerPlus .buttonBar img {margin-left:5px}
.containerPlus .mbcontainercontent {margin-right:-15px; padding-right:10px;overflow:auto;}

.iconLabel{font-family:sans-serif;font-size:10px;padding:5px;background:#f3f3f3;color:gray;display:block;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #ccc}

/*
* default
*/
.containerPlus .no	{ background: url('images/container/default/no.png') top left no-repeat; }
.containerPlus .ne	{ background: url('images/container/default/ne.png') top right no-repeat; margin-left: 21px;}
.containerPlus .ne img	{left:-10px; top:-10px}
.containerPlus .n	{ background: url('images/container/default/n.png') top center repeat-x; margin-right: 20px; -moz-user-select: none; -khtml-user-select: none}
.containerPlus .n	{ padding-top:8px;height:26px; white-space:nowrap;overflow:hidden;}
.containerPlus .n	a{ text-decoration:none;color:#000; font-size:15px;}

.containerPlus .o	{ background: url('images/container/default/o.png') top left repeat-y;}
.containerPlus .e	{ background: url('images/container/default/e.png') top right repeat-y; margin-left: 21px;}
.containerPlus .c { background: url('images/container/default/c.png'); margin-right: 23px; padding-top: 1px; padding-bottom: 1px; }

.containerPlus .so	{ background: url('images/container/default/so.png') bottom left no-repeat;}
.containerPlus .se	{ background: url('images/container/default/se.png') bottom right no-repeat; margin-left: 21px;}
.containerPlus .s { background: url('images/container/default/s.png') bottom repeat-x; padding-top: 20px; margin-right: 23px;}