﻿/***** Basic******/
body {
background-color:#FFF;
direction:rtl;
text-align:right;
font:bold 11px Tahoma;
}

a,a:active,a:visited,a:link {
text-decoration:none;
color:#900;
}

img {
border:0;
margin:0;
padding:0;
}

ul {
list-style-type:none;
margin:0;
padding:0;
}

/***** Right Side******/
#right {
position: absolute;
top: 4%;
right: 2%;
width: 98%;
text-align: center;
}

#right table {
width:98%;
direction:ltr;
border-collapse:collapse;
font:bold 11px tahoma;
color:#073447;
}

#right th {
text-align:center;
height:40px;
background:#F1F1F1;
vertical-align:top;
cursor:pointer;
margin:0 0 5px;
padding:4px 6px;
}

#right a:active,a:link,a:visited {
color:#2583AD;
}

.tdnor {
background-color:#F9F9F9;
text-align:right;
cursor:pointer;
width:300px;
padding:6px 3px;
}

td.tdnor:hover {
background-color:#EAF2FA;
}

/***** Left Side******/
#left {
margin-top:7%;
margin-right:.5%;
}

/***** General******/
th {
font:bold 17px "Arial";
cursor:pointer;
background:#e5e5e5 url('images/bg-content-box.gif') top left repeat-x;
margin-top:1px;
padding:10px;
}

textarea,input,select {
background:#fff url('images/bg-form-field.gif') top left repeat-x;
border:1px solid #b2b2b2;
color:#000;
text-decoration:none;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
margin:1px;
padding:4px 3px;
}

input.text,textarea.text {
width:75%;
}

textarea:hover,textarea:focus,input:hover,input:focus,select:hover,select:focus {
background:#fff;
border:1px solid #D5D5D5;
color:#000;
}

/***** Table Style******/
#predtable {
background-color:#FFF;
border-collapse:collapse;
width:98%;
color:#66758B;
font:bold 12px "tahoma";
direction:rtl;
}

.altpoll {
background-color:#F3F3F3;
border:1px solid #DDD;
padding:10px 4px;
}

.norm {
border:1px solid #DDD;
padding:10px 4px;
}

.retb_tab {
background:#fff url('images/nav-box.gif');
border:1px solid #DDD;
padding:10px 4px;
}

/***** Special******/
#topholder{
position: fixed;
top: 0;
left: 5px;
width: 97%;
padding: 10px;
font:bold 15px Arial;
background: url(images/bhead.gif) 0 0 repeat-x;
border: 1px solid #ccc;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}
#topholder span{
color: #999;
font-size: 17px;
}
#topholder li{
display: inline;
float:right;
list-style: none;
padding: 0 10px;
margin-top:10px;
background: url(images/nsp.gif) center left no-repeat;
}
#topholder li.nobg{
background: none;
}

#stat {
background-color:#F9F9F9;
width:80%;
direction:rtl;
font:bold 12px tahoma;
color:#2583AD;
border-collapse:collapse;
}

.th_rad {
-moz-border-radius-topright:10px;
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
}

.th_rad_right {
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
}

.th_rad_left {
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
}

.alth {
background-color:#00487D;
text-align:right;
font:bold 12px "tahoma";
color:#FFF;
padding:5px;
}

.tderror {
width:98%;
height:50px;
background-color:#fbeeeb;
border:1px dashed #c00;
color:#c00;
font:bold 12px "tahoma";
padding:5px 10px;
}

.pointer {
color:navy;
cursor:pointer;
}

.button {
font:bold 14px Arial;
display:inline-block;
background:#459300 url('images/bg-button-green.gif') top left repeat-x !important;
border:1px solid #459300 !important;
color:#fff;
cursor:pointer;
padding:4px 7px !important;
}
.button:hover {
text-decoration:underline;
color:#fff;
}

.normal_button {
font:normal 12px "Tahoma";
display:inline-block;
color:#073447;
cursor:pointer;
border:1px solid #BBD8E7;
background:#f2f2f2 url(images/white-grad.png) repeat-x scroll left top;
padding:2px 8px;
}
.normal_button:hover {
color:#000;
border-color:#21759B;
}

.bttn {
width: 165px;
height: 30px;
line-height: 20px;
background: url(images/btns.gif) top center no-repeat;
border: 0;
font-family: Arial, sans-serif;
font-size: 14px;
font-weight: bold;
color: white;
text-shadow: 1px 1px 0 #0A5482;
cursor: pointer;
vertical-align: middle;
}
a.bttn{
display: inline-block;
text-align: center;
line-height: 29px;
font-size: 16px;
color: white;
}
.bttn:hover {
color: white;
background: url(images/btns_.gif) top center no-repeat;
text-shadow: 1px 1px 0 #B55F10;
}
.btnsmall{
width: 115px;
background: url(images/btn.gif) top center no-repeat;
}
.btnsmall:hover {
background: url(images/btn_.gif) top center no-repeat;
}

.searchformstyle {
width:98%;
margin-bottom:30px;
border-collapse:collapse;
border-top:3px solid #EEE;
color:#66758B;
font:bold 12px "Tahoma";
}

.headerSortUp {
background-image:url(images/asc.gif);
background-repeat:no-repeat;
background-position:center left;
cursor:pointer;
}

.headerSortDown {
background-image:url(images/desc.gif);
background-repeat:no-repeat;
background-position:center left;
cursor:pointer;
}

/***** Paging Style******/
.paging_navigation {
font:normal 11px "Tahoma";
text-align:center;
width:250px;
color:#073447;
cursor:pointer;
border:1px solid #BBD8E7;
border-radius:5px;
background:#f2f2f2 url(images/white-grad.png) repeat-x scroll left top;
display:inline-block;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
padding:5px 8px;
}

.paging_num {
background:#fff;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:1px solid #ddd;
margin:0 5px 0 0;
padding:3px 6px;
}

.paging_num:hover {
background:#ccc;
color:#D54E21;
}

.paging_num_current {
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
background:#469400 url('images/bg-button-green.gif') top left repeat-x !important;
color:#fff !important;
border-color:#459300 !important;
margin:0 5px 0 0;
padding:3px 6px;
}

/* comments bubble */
.post-com-count-wrapper {
min-width:22px;
font-family:tahoma;
}

.post-com-count {
height:1.3em;
line-height:1.1em;
display:block;
text-decoration:none;
cursor:pointer;
background-position:center -80px;
background-repeat:no-repeat;
background-image:url(images/bubble_bg.gif);
color:#fff;
padding:0 0 6px;
}

.post-com-count span {
font-size:12px;
font-weight:700;
height:2em;
line-height:2em;
min-width:1em;
display:inline-block;
cursor:pointer;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background-color:#bbb;
color:#fff;
padding:0 6px;
}

strong .post-com-count {
background-position:center -55px;
}

.post-com-count:hover {
background-position:center -3px;
}

.post-com-count:hover span {
background-color:#d54e21;
}

.column-response .post-com-count {
text-align:center;
float:right;
margin-right:0;
margin-left:5px;
}

strong .post-com-count span {
background-color:#21759b;
}

/************ Shortcut Buttons ************/
.shortcut-buttons-set {
height:155px;
}

.shortcut-button {
border:1px solid #ccc;
background:#f7f7f7 url('images/shortcut-button-bg.gif') top left no-repeat;
display:block;
width:120px;
height:125px;
margin:0 0 20px;
}

.shortcut-button span {
border:1px solid #fff;
display:block;
text-align:center;
color:#555;
font-size:13px;
line-height:1.3em;
padding:15px 10px;
}

.shortcut-button span img {
margin-bottom:10px;
width:48px;
height::48px;
}

.shortcut-button:hover {
background:#fff;
}

.shortcut-button span:hover {
color:#57a000;
}

ul.shortcut-buttons-set li {
float:right;
background:0;
margin:0 15px 0 0;
padding:0 !important;
}

p,h4,h3,h2,h1,li,div {
margin:0;
padding:0;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	z-index: 5000;
	cursor: pointer;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	z-index:5001;
	color: #fff;
	width: 150px;
	font-family: tahoma;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 13px 0 0;
  position:relative;
  z-index: 5006;
}

.formError .formErrorArrowBottom {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
	margin: 0px 0 0 12px;
  top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}

.inputcls[type="text"], textarea.inputcls,.inputcls[type="password"]{
width: 300px;
}
select.inputcls{
width:150px;
}
.tdwidth{
width:20%;
}
