{include file='msg_categories/msg_categories_navbar.tpl'}

<form method="post" action=""  enctype="multipart/form-data">
<input type="hidden" name="id" value="{$dept.ID}" />

<table id="predtable">

<tr><th class="th_rad" colspan="2">التحكم فى الاقسام</th></tr>


<tr><td class="norm">العنوان:</td>
<td class="altpoll"><input type="text" name="title" value="{$dept.Title}"/></td></tr>

<tr><td class="norm">اللغة:</td>

<td class="altpoll">
<select name="lang" id="lang">
<option value="">اختر اللغة</option>
<option value="ar" {if $dept.Lang eq 'ar'} selected="selected" {/if}>العربية</option>
<option value="en" {if $dept.Lang eq 'en'} selected="selected" {/if}>الانجليزية</option>
</select>
</td></tr>

<tr><td class="retb_tab" colspan="2"><center>
<input class="button" name="add" type="submit" value="حفظ واعادة تحميل" />
&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="button" name="cancel"  onclick="history.back();" value="الغاء"></center></td></tr>

</table>
</form>