<ul class="shortcut-buttons-set">
	<li><a href="msg_categories.php" class="shortcut-button"><span>

	<img alt="icon" src="style/images/navbar/File.png" /><br />

   التحكم فى الاقسام</span></a></li>
	<li><a href="msg_categories.php?action=add" class="shortcut-button"><span>

	<img alt="icon" src="style/images/paper_content_pencil_48.png" /><br />

	اضافة قسم جديد</span></a></li>

    	<li><a href="msg_templates.php" class="shortcut-button"><span>

	<img alt="icon" src="style/images/navbar/File.png" /><br />

التحكم فى الرسائل الجاهزة</span></a></li>

	<li><a href="msg_templates.php?action=add" class="shortcut-button"><span>

	<img alt="icon" src="style/images/paper_content_pencil_48.png" /><br />

 اضافة رسالة جديدة</span></a></li>

 <li><a href="javascript:ShowHide('searchmsgform')" class="shortcut-button"><span>

	<img alt="icon" src="style/images/search.png" /><br />

  بحث عن رسالة</span></a></li>

	<li><a href="javascript:ShowHide('searchform')" class="shortcut-button"><span>

	<img alt="icon" src="style/images/search.png" /><br />

   بحث عن قسم</span></a></li>

</ul>



<form method="get" action="msg_categories.php" style="display:none" id="searchform">

	<table class="searchformstyle">

		<tr>

			<td class="norm">العنوان</td>

			<td class="altpoll"><input name="srch_name" type="text" size="30" /></td>

			<td class="norm">معرف القسم</td>

			<td class="altpoll"><input name="srch_id" type="text" size="30" /></td>


		</tr>

		<tr>

			<td class="retb_tab" colspan="6"><center>

			<input class="button" name="filter" type="submit" value="بحــث وتنقيه" /></center>

			</td>

		</tr>

	</table>

</form>



<form method="get" action="msg_templates.php" style="display:none" id="searchmsgform">

<input type="hidden" name="action" value="show" />

	<table class="searchformstyle">

		<tr>

			<td class="norm">عنوان الرسالة:</td>

			<td class="altpoll"><input name="srch_name" type="text" size="40" /></td>

		</tr>

		<tr>

			<td class="retb_tab" colspan="6"><center>

			<input class="button" name="filter" type="submit" value="بحــث وتنقيه" /></center>

			</td>

		</tr>

	</table>

</form>