@font-face {
	font-family: "Droid Arabic Kufi";
	src: url('droidkufi-reg.eot');
	src: url('droidkufi-reg.eot?#iefix') format('embedded-opentype'),
	url('droidkufi-reg.svg#Droid Arabic Kufi') format('svg'),
	url('droidkufi-reg.woff') format('woff'),
	url('droidkufi-reg.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Droid Arabic Kufi";
	src: url('droidkufi-bold.eot');
	src: url('droidkufi-bold.eot?#iefix') format('embedded-opentype'),
	url('droidkufi-bold.svg#Droid Arabic Kufi') format('svg'),
	url('droidkufi-bold.woff') format('woff'),
	url('droidkufi-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family:'FontAwesome';
	src:url('fontawesome-webfont.eot?v=4.1.0');
	src:url('fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
	url('fontawesome-webfont.woff?v=4.1.0') format('woff'),
	url('fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
	url('fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}



/* makes the font 33% larger relative to the icon container */
.fa { text-align:center; }
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}