<link rel="stylesheet" type="text/css" media="all" href="includes/js/calendar/jsDatePick_ltr.min.css" />
<script type="text/javascript" src="includes/js/calendar/jsDatePick.min.1.3.js"></script>
{literal}
<script type="text/javascript">

	window.onload = function(){

		new JsDatePick({

			useMode:2,

			target:"fromdate",

			dateFormat:"%Y-%m-%d"

		});
		new JsDatePick({

			useMode:2,

			target:"todate",

			dateFormat:"%Y-%m-%d"

		});
	};
</script>
{/literal}
<ul class="shortcut-buttons-set">
{if ($permessions neq "" && in_array(32,$permessions)) || $Group_ID_Session eq 0}
	<li><a href="payments.php" class="shortcut-button"><span>

	<img alt="icon" src="style/images/navbar/edit.png" /><br />

   احصائيات الدفع</span></a></li>
    	<li><a href="javascript:ShowHide('searchform')" class="shortcut-button"><span>

	<img alt="icon" src="style/images/search.png" /><br />

	البحث</span></a></li>

</ul>

<form method="get" action="payments.php" id="searchform" style="display:none" >
	<table class="searchformstyle">

		<tr>
        <td class="norm">نوع الدفع</td>

		   	<td class="altpoll"><select name="type_id">

			<option value="">اختر النوع</option>

			<option value="paypal" {if $typeid eq 'paypal'} selected="selected" {/if}>باى بال</option>
            <option value="cashu" {if $typeid eq 'cashu'} selected="selected" {/if}>كاش يو</option>
            <option value="onecard" {if $typeid eq 'onecard'} selected="selected" {/if}>وان كارد</option>
             <option value="bank_transfer" {if $typeid eq 'bank_transfer'} selected="selected" {/if}>تحويل بنكى</option>
             <option value="inapp" {if $typeid eq 'inapp'} selected="selected" {/if}>تطبيق الموبايل</option>

		</select>

			</td>
            	<td class="norm">معرف العضو</td>

		   	<td class="altpoll"><input name="user_id" type="text" size="30" dir="ltr"  value="{$userid}"/>

			</td>
 <tr>
	<td class="norm">التاريخ:</td>

			<td class="altpoll" colspan="3">من<input name="fromdate"  id="fromdate" type="text" size="30" dir="ltr" value="{$from_date}"/>

			</td>


		</tr>
		</tr>

		<tr>

			<td class="retb_tab" colspan="6"><center>

			<input class="button" name="filter" type="submit" value="بحــث وتنقيه" /></center>

			</td>

		</tr>

	</table>

</form>

{/if}