<ul class="shortcut-buttons-set">
	<li><a href="pages.php" class="shortcut-button"><span>
	<img alt="icon" src="style/images/navbar/Profile.png" /><br />
 التحكم فى الصفحات</span></a></li>
	<li><a href="pages.php?action=add" class="shortcut-button"><span>
	<img alt="icon" src="style/images/paper_content_pencil_48.png" /><br />
   اضافة صفحة جديدة</span></a></li>

	<li><a href="javascript:ShowHide_Test('searchform','searchforgroup','','','')" class="shortcut-button"><span>
	<img alt="icon" src="style/images/search.png" /><br />
   بحث و تنقية</span></a></li>

</ul>

<form method="get" action="pages.php" style="display:none" id="searchform">
<input type="hidden" name="action" value="show" />
	<table class="searchformstyle">
		<tr>
			<td class="norm">العنوان:</td>
			<td class="altpoll"><input name="srch_name" type="text" size="30" /></td>
			<td class="norm">رقم المعرف:</td>
			<td class="altpoll"><input name="srch_id" type="text" size="30" /></td>
		</tr>
		<tr>
			<td class="retb_tab" colspan="6"><center>
			<input class="button" name="filter" type="submit" value="بحــث وتنقيه" /></center>
			</td>
		</tr>
	</table>
</form>
